.single-playlist-item{
    width: 97%;
    margin: auto;
    height: 10vh;
    border: 1px  solid;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(245, 72, 127, 0.5) 0rem 0rem 0.8rem;
    
}

.single-playlist-item p{
    color: white;   
}

.create-playlist-btn{
    display: flex;
    color: white;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

