.single-playlist-item{
    width: 97%;
    margin: auto;
    height: 10vh;
    border: 1px white solid;
    border-radius: 20px;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.single-playlist-item p{
    color: white;
}

.create-playlist-btn{
    display: flex;
    color: white;
    width: 40%;
    justify-content: space-around;
    align-items: center;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

