/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3rem;
  /*========== Colors ==========*/
  --hue: 174;
  --sat: 63%;
  --first-color: #;
  --first-color-alt: hsl(var(--hue), var(--sat), 36%);
  --title-color: hsl(var(--hue), 12%, 15%);
  --text-color: hsl(var(--hue), 8%, 35%);
  --body-color: hsl(var(--hue), 100%, 99%);
  --container-color: #FFF;

  /*========== Font and typography ==========*/
  --body-font: 'Open Sans', sans-serif;
  --h1-font-size: 1.5rem;
  --normal-font-size: .938rem;
  --tiny-font-size: .625rem;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 968px) {
  :root {
    --h1-font-size: 2.25rem;
    --normal-font-size: 1rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  direction: rtl;
  font-size: 105%;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.section {
  padding: 4.5rem 0 2rem;
}

.section__title {
  font-size: var(--h1-font-size);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.section__height {
  height: 100vh;
}

.music-section {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 2rem;
  margin-bottom: 2rem;
}

.page-content-holder {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.song-image {
  width: 6rem;
  height: 6rem;
  border-radius: 0.8rem;
}

.song-name {
  color: #F5487F;
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
  font-size: 0.8rem;
}

.artist-name {
  color: #F5487F;
  font-size: 0.7rem;
}

.music-section-title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 1.1rem;
  color: white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.signupin {
  width: 90%;
  height: 50vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.form-changer {
  padding-top: 5rem;
  height: 18vh;
  width: 80%;
  margin: auto;
  display: flex;
}

.form-changer * {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  color: black;
  border-bottom: solid rgba(0, 0, 0, 0.2);
}

.login-btn {
  border-bottom: solid rgba(0, 0, 0, 0.8);
}


.fileInputBox {
  border: 0rem solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.7rem rgba(0, 0, 0, 0.25);
}

.panel-box {
  width: 80%;
  margin: auto;
  margin-top: 5rem;
  border: 0rem solid black;
  padding: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 0.1rem 0.1rem 0.7rem rgba(0, 0, 0, 0.25);
}



.profile-image {
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
}

.profile-holder {
  width: 90%;
  height: 40vh;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}

.profile-holder h3 {
  font-size: var(--normal-font-size);
}

.profile-holder form {
  display: flex;
  flex-direction: column;
  width: 50%;

}

.profile-holder button {
  margin-top: 0.7rem;
  margin-bottom: 0.7rem;
  padding: 0.3remtest;
  border-radius: 0.6rem;
  color: var(--body-color);
  background-color: var(--first-color-alt);
}

.account-information {
  height: 20vh;
  margin-top: 1.5rem;
  margin-bottom: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  justify-content: center;
  align-items: center;
}

.account-information h3 {
  color: black;
}

/*=============== MUSIC PLAYER ===============*/
.music-player {
  position: fixed;
  width: 100vw;
  height: 9vh;
  bottom: 4.3rem;
  background-color: var(--container-color);
  box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.20);
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  z-index: 5;
  color: var(--first-color-alt);
  font-weight: bold;
  font-size: 1.2rem;
  animation-duration: 0.7s;
  animation: bubble 1.0s forwards;
}

#music-player-audio {
  position: absolute;
  left: 2.5rem;
  top: 15%;
  width: 70%;
  height: 70%;
  animation-duration: 0.7s;
  animation: bubble 1.0s forwards;
}

#tumbnail {
  position: absolute;
  width: 48px;
  height: 48px;
  top: 10%;
  right: 0.3rem;
  border-radius: 50%;
  animation-duration: 0.7s;
  animation: bubble 1.0s forwards;

}

.maximize-btn {
  position: relative;
  top: 0%;
  right: 3%;
  color: white;
}

.minimize-btn {
  position: relative;
  top: 0%;
  right: 3%;
  color: white;
}

#song-name {
  position: absolute;
  top: 61%;
  right: 15%;
  font-size: var(--body-font);
  display: none;
}

#song-singer {
  position: absolute;
  top: 66%;
  right: 15%;
  font-size: var(--body-font);
  display: none;
}

/*=============== MUSIC PLAYER ANIMATION ===============*/

@keyframes maximize {
  0% {}

  100% {
    height: 100vh;
    bottom: 0rem;
  }
}

@keyframes minimize {
  0% {
    height: 100vh;
    bottom: 0rem;
  }

  100% {
    height: 9vh;
    bottom: 4.3rem;
  }
}

@keyframes maximize-tumbnail {
  0% {
    border-radius: 50%;
  }

  100% {
    border-radius: 15%;
    width: 5rem;
    height: 5rem;
    right: 7.5%;
    top: 12.5%;
  }
}

@keyframes minimize-tumbnail {
  0% {
    border-radius: 15%;
    width: 5rem;
    height: 5rem;
    right: 7.5%;
    top: 12.5%;
  }

  100% {
    width: 48px;
    height: 48px;
    top: 10%;
    right: 0.3rem;
    border-radius: 50%;
  }
}

@keyframes maximize-audio {
  0% {
    left: 2.5rem;
    top: 20%;
    width: 70%;
    height: 60%;
  }

  100% {
    width: 85%;
    height: 10%;
    right: 7.5%;
    top: 75%;
  }
}

@keyframes minimize-audio {
  0% {
    width: 85%;
    height: 10%;
    right: 7.5%;
    top: 75%;
  }

  100% {
    left: 2.5rem;
    top: 20%;
    width: 70%;
    height: 60%;
  }
}

#nav-menu {
  border-top: 1px #6d44b8 solid;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
}

/*=============== LAYOUT ===============*/
.container {
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.nav-container-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.4rem 1rem 0.4rem 1rem;
  min-height: 4vh;
}

/*=============== HEADER ===============*/
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px #6d44b8 solid;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  border-radius: 0rem 0rem 1.25rem 1.25rem;
  box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.30);
  z-index: var(--z-fixed);
  transition: .4s;
}

/*=============== NAV ===============*/
.nav {

  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.nav__logo {
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 767px) {
  .nav__menu {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--container-color);
    box-shadow: 0 -1px 12px hsla(var(--hue), var(--sat), 15%, 0.30);
    width: 100%;
    height: 4rem;
    padding: 0 1rem;
    display: grid;
    align-content: center;
    border-radius: 1.25rem 1.25rem 0 0;
    transition: .4s;
  }
}

.nav__list,
.nav__link {
  display: flex;
  flex-direction: row-reverse;

}

.nav__link {
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
  color: white;
  font-weight: 600;
}

.nav__list {
  justify-content: space-around;
}

.nav__name {
  font-size: var(--tiny-font-size);
}

.nav__icon {
  font-size: 1.5rem;
}

/*Active link*/
.active-link {
  position: relative;
  color: var(--first-color);
  transition: .3s;
}



.scroll-header {
  box-shadow: 0 1px 12px hsla(var(--hue), var(--sat), 15%, 0.15);
}

/*=============== MEDIA QUERIES ===============*/
/* For small devices */
/* Remove if you choose, the minimalist design */
@media screen and (max-width: 320px) {
  .nav__name {
    display: flex;
  }
}

/* For medium devices */
@media screen and (min-width: 576px) {
  .nav__list {
    justify-content: center;
    column-gap: 3rem;
  }
}

@media screen and (min-width: 767px) {
  body {
    margin: 0;
  }

  .section {

    padding: 7rem 0 2rem;
  }

  .nav {
    height: calc(var(--header-height) + 1.5rem);
  }

  .nav__img {
    display: none;
  }

  .nav__icon {
    display: none;
  }

  .nav__name {
    font-size: var(--normal-font-size);
  }



  .nav__link:hover {
    color: var(--first-color);
  }

  .active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    width: 4px;
    height: 4px;
    background-color: var(--first-color);
    border-radius: 50%;
  }


}

@media screen and (min-width: 1024px) {
  .container {
    margin-left: auto;
    margin-right: auto;
  }
}




.main {
  width: 350px;
  height: 500px;
  background: red;
  overflow: hidden;
  background: url("https://doc-08-2c-docs.googleusercontent.com/docs/securesc/68c90smiglihng9534mvqmq1946dmis5/fo0picsp1nhiucmc0l25s29respgpr4j/1631524275000/03522360960922298374/03522360960922298374/1Sx0jhdpEpnNIydS4rnN4kHSJtU1EyWka?e=view&authuser=0&nonce=gcrocepgbb17m&user=03522360960922298374&hash=tfhgbs86ka6divo3llbvp93mg4csvb38") no-repeat center/ cover;
  border-radius: 10px;
  box-shadow: 5px 20px 50px #000;
}

#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
}

.form-label {
  color: #fff;
  font-size: 2.3em;
  justify-content: center;
  display: flex;
  margin: 60px;
  font-weight: bold;
  cursor: pointer;
  transition: .5s ease-in-out;
}

.form-input {
  width: 60%;
  height: 30px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 20px auto;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.form-button {
  width: 60%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
}

.form-button:hover {
  background: #6d44b8;
}

.login {
  height: 420px;
  background: #eee;
  border-radius: 60% / 10%;
  transform: translateY(-200px);
  transition: .8s ease-in-out;
}

.login label {
  color: #573b8a;
  transform: scale(.6);
}

#chk:checked~.login {
  transform: translateY(-500px);
}

#chk:checked~.login label {
  transform: scale(1);
}

#chk:checked~.signup label {
  transform: scale(.6);
}

.form-holder {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-box {
  text-align: center;
  margin: 1rem;
  color: #F5487F;
}

.panel-cart-section {
  width: 85%;
  min-height: 30vh;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
}

.panel-cart {
  height: 20vh;
  border: 1px solid white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.panel-cart * {
  margin-top: 0.5rem;
}

.account-information{
  margin-top: 10rem;
}

.account-information *{
  margin-top: 1rem;
}

.account-information h3{
  color: #eee;
  font-size: 1.5rem;
}

.account-information h4{
  color: #F5487F;
  font-size: 1.2rem;
}

.uploadprofile-holder{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.uploadprofile-holder *{
  margin-top: 1rem;
}

.submitBtn{
  width: 35%;
  padding: 0.7rem;
  border-radius: 0.5rem;
}

.profileImage{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}



.upload-music-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.upload-music-form *{
  margin-top: 1rem;
}

.upload-music-form button{
  width: 100px;
  padding: 0.8rem;
  border-radius: 8px;
}
.upload-music-form input{
  height: 30px;
  border-radius: 5px;
}


.flexbox {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-bottom: 2rem;
}

.search {
  width: 70%;
  margin: auto;
}

.search > h2 {
  color: white;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
  content: "";
  background: white;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 22px;
  right: -2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: white;
  font-size: 16px;
  background: transparent;
  width: 30px;
  height: 30px;
  padding: 10px;
  border: solid 3px white;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: #efefef;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}



.loadmore-btn{
  width: 60%;
  height: 40px;
  background:#24243e;
  margin-top: 6rem !important;
  margin-bottom: 10rem !important;
  border-radius: 15px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  font-size: 1rem;
}


.musicPlayerHolder{
  position: fixed;
  bottom: 0%;
  z-index: 50;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  padding-top: 4rem;
  padding-bottom: 20rem;
}

.musicPlayerInfo{
  display: flex;
  flex-direction: column;
  color: #F5487F;
  text-align: right;
}
.musicPlayerInfo *{
  margin-top: 1rem;
}

.musicPlayerInnerHolder{
  height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.musicPlayerInnerHolder{
  margin-bottom: 20rem;
}

.musicPlayerControler{
  display: flex;
  color: white;
}



.playingButton{
  position: relative;
  margin-top: 1rem;
  color: white;
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-around;
}

.playingButtonMin{
  position: relative;
  margin-top: 1rem;
  color: white;
  display: flex;
  width: 60%;
  margin: auto;
  justify-content: space-around;
}

.musicPlayerImage img{
  width:12rem;
  height: 12rem;
  border-radius: 50%;
}


.musicPlayerImagePlaying img{
  width:12rem;
  height: 12rem;
  border-radius: 50%;
  animation-name: musicImagePlaying;
  animation-duration: 30s;
  animation-delay: 1ms;animation-iteration-count: infinite; 
}

.musicPlayerImageMin img{
  width:50px;
  height: 50px;
  border-radius: 50%;
}


.musicPlayerImagePlayingMin img{
  width:50px;
  height: 50px;
  border-radius: 50%;
  animation-name: musicImagePlaying;
  animation-duration: 30s;
  animation-delay: 1ms;animation-iteration-count: infinite; 
}

@keyframes musicImagePlaying {
  0%{
    transform: rotate(0deg); 
  }
  100%{
    transform: rotate(360deg); 
  }
}




.musicPlayerProgress{
  width: 75vw;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  direction: rtl;
}

input[type="range"] {
  direction: ltr;
  width: 400px;
  height: 15px;
  -webkit-appearance: none;
  background: #111;
  outline: none;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 1);
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #F5487F;
  cursor: pointer;
  border: 4px solid #333;
  box-shadow: -407px 0 0 400px #F5487F  ;
}

.musicPlayerHolderMin{
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  bottom: 4.2rem;
  z-index: 50;
  width: 100vw;
  height: 4rem;
  border-radius: 2rem;
  background: linear-gradient(to bottom, #0f0c29, #302b63, #24243e);
  padding: 1rem; 
}

.musicPlayerInnerHolderMin{
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;
}

.musicPlayerInnerHolderMin *{
  margin-left: 0.5rem;
}

.musicOptions{
  color: white;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
}

.info-option{
display: flex;
justify-content: space-between;
width: 100%;
padding-right: 3rem;
}